{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "",
        "FUNCTIONS_WORKER_RUNTIME": "python",
        "EVENT_HUB_NOTIFICATIONS": "",
        "EVENT_HUB_HOOKS": ""
    }
}